body{
	margin: 0;
	padding: 0;
	/*! display: flex; */
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: url(58.jpg) !important;
	background-size: cover !important;
}

.register-img {width: 85%;padding-top: 25px;}


.slide{position: relative;/*! top: 30vh; */text-align: center;}
.slide h3{color: #11ae02;text-align: center;font-size: 50px;margin-bottom: 10px;}
.slide p{color: black !important;}
	.main{
	width: 340px;
    height: 480px;
    background: red;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    background: rgb(0,66,8);
    background: #00E1CB;
    margin: 0 auto;
    margin-top: 85px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	}
	#chk{
		display: none;
	}
	.check {width: 18px !important;display: inline !important;margin-left:    60px !important;float: left;height: 20px !important;padding-top: 0px !important;margin-top: 2px !important;}
		.main .signup{
		position: relative;
		width:100%;
		height: 100%;
	}
	.check-text {display: block;margin-top: 0px;padding-left: 60px;color: #00e1cb !important;font-size: 15px;}
		.main label{
		color: #000000c2;
		font-size: 30px;
		justify-content: center;
		display: flex;
		font-weight: bold;
		cursor: pointer;
		transition: .1s ease-in-out;
		margin-top: 20px;
		padding-top: 5px;
		margin-bottom: 75px;
	}

	.enter-site-box {
		width: ;
    /*! position: fixed; */
    /*! top: 0; */
    /*! right: 106px; */
	}
	.enter-site-btn {
	top: 5px;
    right: 10%;
    position: fixed;
    font-weight: bold;
	font-size: 40px;
	color: black;
	}
	.enter-site-btn:hover {/*! background: #106d08; */color: #006356;text-decoration: none;}
		.main input{
		width: 65%;
		height: 36px;
		background: no-repeat;
		justify-content: center;
		display: flex;
		margin: 8px auto;
		padding: 5px 10px;
		border: none;
		outline: none;
		/*! border-radius: 5px; */
		font-size: 15px;
		color: black;
		padding: 0;
		border-bottom: 1px solid #00000052;
	}
		.main button{
		width: 65%;
		height: 40px;
		margin: 10px auto;
		display: block;
		font-size: 1em;
		font-weight: bold;
		margin-top: 20px;
		border-radius: 5px;
		transition: .2s ease-in;
		border-radius: 25px;
		text-transform: uppercase;
		box-shadow: 0px 0px 5px black;
		border: navajowhite;
		color: #006356;
	}
		.main button:hover{
		background: #006356 !important;
		color: white;
	}
		.main .login{
		height: 460px;
		background: #006356;
		border-radius: 55% / 10%;
		transform: translateY(-105px);
		transition: .3s ease-in-out;
		box-shadow: 0 15px 20px black;
	}
	.login-modal-content {width: 352px;background: none;margin-top: 85px !important;}
	.main .login-check {width: 18px;display: inline;margin-left: 71px;float: left;height: 20px;padding-top: 0px;margin-top: 2px;}
		.main .login-check-text {display:   block;margin-top: 0px;padding-left: 95px;color: #5c5c5c !important;}
		.main .login label{
		color: #fff;
		transform: scale(.6);
		margin-bottom: 14px;
		font-size: 32px;
	}
	.main .close {position: absolute;top: -20px;right: 9px;width: auto;font-size: 40px;/*! color: black !important; */height: auto;}
	.main .close:hover {background: none;color: white !important;}

	#chk:checked ~ .login{
		transform: translateY(-420px);
	}
	#chk:checked ~ .login label{
		transform: scale(1);
	}
	#chk:checked ~ .signup label{
		transform: scale(.6);
	}
	.logo img {left: 10% !important;position: fixed;top: 20px;width: 150px !important;}

	.forget-pass {font-size: 12px !important;padding-left: 60px !important;color: #006356 !important;}

	.login label {}
	.login input {color: white;border-color: #ffffff61;}
	.login button {box-shadow: 0px 0px 5px white;color: white;}
	.login button:hover {background: #00e1cb !important;color: black;}
	.login input::placeholder {color: white;}

	.signup input::placeholder {color: black;}
	@media (max-width: 576px) {

	.logo img {width: 120px !important;margin-top: 0px;}
	.slide{/*! position: relative; *//*! top: 35vh; */}
	.slide h3{color: #11ae02;text-align: center;font-size: 30px;margin-bottom: 10px;margin-top: 10px;}
	.slide p{
        	font-size: 20px;
            /* color: white; */
            text-align: center;
            padding: 15px 5px;
            margin-bottom: 0;
            padding-bottom: 0px;
            text-transform: capitalize;
	}
		.main{
			width: 340px;
			height: 450px;
			overflow: hidden;
			border-radius: 10px;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		#chk{
			display: none;
		}
		.check {width: 18px !important;display: inline !important;margin-left:    48px !important;float: left;height: 20px !important;padding-top: 0px !important;margin-top: 2px !important;}
			.main .signup{
			position: relative;
			width:100%;
			height: 100%;
		}
		.check-text {display: block;margin-top: 0px;padding-left: 50px;font-size: 12px;}


		.main label{
			font-size: 30px;
			justify-content: center;
			display: flex;
			font-weight: bold;
			cursor: pointer;
			transition: .1s ease-in-out;
			margin-top: 20px;
			margin-bottom: 65px;

		}

		.enter-site-box {text-align: right;position: unset;margin-top: 20px;}
		.enter-site-btn {    color: #000;
    /*! text-shadow: 5px 5px 10px black; */
    width: 50px;
font-size: 30px;
right: 5% !important;
}

    .forget-pass {padding-left: 50px !important;font-size: 11px !important;}

	.enter-site-btn:hover {/*! background: green; */color: white;/*! text-decoration: none; */transition: all.3s;/*! text-shadow: 5px 5px 10px black; */}
			.main input{
			width: 70%;
			/*! height: 20px; */
			background: transparent;
			justify-content: center;
			display: flex;
			margin: 8px auto;
			padding: 0;
			outline: none;
			border-radius: 0px !important;
			font-size: 14px;
		}
			.main button{
			width: 70%;
			height: 40px;
			margin: 10px auto;
			justify-content: center;
			display: block;
			/*! color: #fff; */
			/*! background: #11b401; */
			font-size: 1em;
			font-weight: bold;
			margin-top: 20px;
			/*! outline: none; */
			/*! border: none; */
			/*! border-radius: 5px; */
			transition: .2s ease-in;
			cursor: pointer;
		}
			.main button:hover{
			background: #055108;
		}
			.main .login{
			height: 460px;
			border-radius: 55% / 10%;
			transform: translateY(-95px);
			transition: .3s ease-in-out;
		}
		.login-modal-content {width: 352px;background: none;margin-top: 85px !important;}
		.main .login-check {width: 18px;display: inline;margin-left: 71px;float: left;height: 20px;padding-top: 0px;margin-top: 2px;}
			.main .login-check-text {display:   block;margin-top: 0px;padding-left: 95px;color: #5c5c5c !important;}
			.main .login label{
			color: #c0c0c0;
			transform: scale(.6);
			margin-bottom: 10px;
		}
		.mobile-summery {}
		.main .close {position: absolute;top: -20px;right: 9px;width: auto;font-size: 40px;/*! color: black !important; */height: auto;}
		.main .close:hover {background: none;color: white !important;}

		#chk:checked ~ .login{
			transform: translateY(-400px);
		}
		#chk:checked ~ .login label{
			transform: scale(1);
		}
		#chk:checked ~ .signup label{
			transform: scale(.6);
		}

	}
